.button-main{
    padding: 1em 2em;
    font-size: 1.25rem;
    font-family: Josefin Sans;
    font-weight: 700;
    border-radius: 6px;
}

@media screen and (max-width: 500px) {
   .button-main{
    font-size: .75rem;
   }
}