.about{
    background-color: var(--primary);
    color: white;
    overflow: hidden
}

.about-wrapper{
    padding: 9em 0;
    display: flex;
    justify-content: space-between;
}

.about-sec-1,.about-sec-2,.about-sec-3{
    width: 30%;
}

/* Section 1 */
.about-sec-1 .about-sec-1-square-border{
    width: 300px;
    height: 300px;
    border: 5px solid white ;
    position: relative;
    z-index:2 ;
    margin-top: 2em;
    margin-left: -2em;
}

.about-sec-1 .about-sec-1-square-image {
    width: 300px;
    height: 380px;
    background-color:#a1a6a9;
    border-radius:10px ;
    position: relative;
    z-index: 1;
    margin-top: -21.5em;
    margin-left: 10em;
    background-image: url(/src/assets/illus.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.about-sec-1 .about-sec-1-square-fill {
    width: 300px;
    height:300px;
    background-color: var(--main);
    position: relative;
    z-index:0 ;
    margin-top: -9em;
    margin-left: 4em;
}

/* Section 2 */
.about-sec-2-about {
    color: var(--main);
}

.about-sec-2-name{
    margin-top: .25em;
}

.about-sec-2-name,.about-sec-2-dev{
    font-size: 4.5rem;
    line-height: 1.3;
}

.about-sec-2-name span,.about-sec-2-dev span{
    color: var(--main);
}

.about-sec-2-address{
    font-size: 2.25rem;
    margin-top: .5em;
}

.about-sec-2 p{
    color: rgba(255, 255, 255, 0.495);
    font-size: 1.25rem;
    line-height: 1.5;
}

.about-sec-2-p2,.about-sec-2-p1{
    margin-top: 1.25em;
}

/* Section 3 */
.about-sec-3{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.about-sec-3-box-fill {
    width: 200px;
    height: 200px;
    background-color: var(--main);
    z-index: 0;
    margin-right: -5em;
    margin-bottom: 4em;
}

.about-sec-3-box-border {
    width: 200px;
    height: 200px;
    border: 5px solid white;
    margin-right: -1em;
    z-index: 1;
}

@media screen and (max-width: 1440px) {
    .about-sec-3{
        display: none;
    }

    .about-sec-2{
        width: 60%;
    }
}


@media screen and (max-width: 1220px) {
    .about-sec-3 {
        display: none;
    }

    .about-sec-2 {
        width: 60%;
    }

    .about-sec-1 .about-sec-1-square-border {
        width: 250px;
        height: 250px;
        margin-top: 2em;
        margin-left: -2em;
    }

    .about-sec-1 .about-sec-1-square-image {
        width: 250px;
        height: 320px;
        margin-top: -13.5em;
        margin-left: 8em;
    }

    .about-sec-1 .about-sec-1-square-fill {
        width: 250px;
        height: 250px;
        margin-top: -11em;
        margin-left: 4em;
    }
}

@media screen and (max-width: 1070px) {
    .about-sec-1 {
        display: none;
    }

    .about-sec-2 {
        width: 100%;
        padding:0 3em ;
    }

    .about-sec-2-name,
    .about-sec-2-dev {
        font-size: 2.5rem;
    }

    .about-sec-2-address {
        font-size: 1rem;
    }

    .about-sec-2-p1,
    .about-sec-2-p2 {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 362px) {
.about-sec-2{
    padding: 0 2em;
   }
}